@use "variables" as variables;
@use "breakpoints" as breakpoints;

// コード自体＋変数をglobal.scssからimportしたいときはuse
@use "global" as global;
// コード自体のみをglobal.scssからimportしたいときはforward
// @forward "global"; 




// header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    .icon {
      color: variables.$themeColor;
    }
  }

  nav {
    ul {
      display: flex;
      justify-content: space-between;
      gap: 1rem;

      @include breakpoints.maxwidth(767px) {
        position: absolute;
        top: -100vh;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100vh;
        background-color: white;
        transition: top 0.5s ease-in-out;
      }
    }
    .navbarchange{
      top: 0vh;
    }
  }
  .hamburger-menu {
    display: none;
    z-index: 1;
    @include breakpoints.maxwidth(767px){
      display: block;  
    }
  }
}



// PostsList 
.home{
  .postslist {
  height: variables.$height - 5vh;
  overflow-y: auto;
  
    h2 {
      margin: 1rem 0;
      text-align: center;
    }
  
    .individualpost {
      border: 1px solid variables.$borderLineColor;
      padding: 1rem;
  
      >* {
        margin: 0.75rem 0;
      }
      .linkauthordate {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
      }
    }
  }
  .pagination{
    .paginationbuttonlist{
      display: flex;
      justify-content:center;
      flex-wrap: wrap;
      button{
        display: block;
        margin: 0 5px;      
      }
      button.activebutton{
        color:variables.$borderLineColor;
      }
    }
  }
}
// somehow couldn't include it in postsList nest
.reactionbutton {
  margin-right: 5px;
}




// SinglePostPage 

.singlepostpage {
  height: variables.$height;
  overflow-y: auto;

  >* {
    margin: 0.75rem 0;
  }
  .linkauthordate {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}




//  EditPostForm 
// AddPostForm

.editpostform,
.addpostform {
  height: variables.$height;
  overflow-y: auto;

  h2 {
    margin: 1rem 0;
  }

  form {
    display: flex;
    flex-direction: column;

    >* {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;

      label {
        margin-bottom: 0.5rem;
      }

      input,
      select,
      textarea {
        padding: 0.5rem;
        font-size: 1rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 10px;
        border: 1px solid variables.$borderLineColor;
        transition: border-color 0.3s ease-in-out;
        width: 100%;

        &:focus {
          outline: none;
          border-color: dodgerblue;
        }
      }
    }

    .buttonsafteredit,
    .buttonafteradd {
      flex-direction: row;
      justify-content: flex-start;
      gap: 1rem;
    }
  }
}

// UsersList
// UserPage
.userslist,
.userpage {
  height: variables.$height;
  overflow-y: auto;

  h2 {
    margin: 1rem 0;
  }
  ol{
    li{
      margin: 0.5rem 0;
    }
  }
}




//  footer 

footer {
  text-align: center;
}